#about-section{
    background-color: black;
    height: 700px;
}

#experience-section{
    background-color: antiquewhite;
}

#projects-section{
    background-color: blue;

}

#contact-section{
    background-color: green;
}

/* .content{
    padding-top: 70px;
} */