.timeline-container {
    height: 100vh;
    display: center;
    place-items: center;
    justify-content: center;
    align-content: center;
    /* background: linear-gradient(135deg, #87CEEB, #3498db); */
}