body{
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff !important;
  text-align: left;
  /* background-color: #1a1a1a !important; */
  background-color: #282c34;
}

html{
  scroll-behavior: smooth !important;

}



.App{
  height: 110vh;
  background-color: #111111;
  /* font-family: 'Poppins','sans-serif'; */
}

#section2, #section3, #section1, #section4{
#about-section, #experience-section, #projects-section, #contact-section{
  height: 500px;
  padding-top: 90px;
  scroll-behavior: smooth;
}
.navbar-container{
  font-weight: bold;
  /* Initial background color with transparency */
  transition: background-color 0.3s ease-in-out;
  z-index: 1000;
}

.navbar-container.scrolled{
  background-color: #343a40 !important;
}

.nav-item:hover{
  background-color: #00BCD4;
  border-radius: 5px;
}

  transition: 0.5s;
}

/* .nav-item */

/* Custom Card styles */
.custom-card-dark{
  color: #ffffffd0;
  background-color: #282c34 !important;
}

.footer{
  position: fixed;
  /* position: relative; */
  left: 0;
  bottom: 0;
  background-color: #343a40;
  width: 100%;
  /* min-height: 2em; */
  color: white;
  padding: 24px;
}

.text-muted {
  font-size: 14px;
}

.footer-container{
  text-align: center;
}